#header {
  background-color: #3f4e4f;
  padding: 10px 40px 10px 40px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;

  a {
    text-decoration: none;
  }

  a:visited {
    color: inherit;
  }

  .title {
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: bold;
    color: white;
  }

  .buttons {
    display: flex;
    justify-content: right;
    align-items: center;

    .button {
      height: 60px;
      width: 60px;
      transition: all 0.2s ease;
      background-color: #2c3639;
      -webkit-mask-size: 80%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
    }

    .button:hover {
      cursor: pointer;
      background-color: white;
      -webkit-mask-size: 90%;
    }

    #logoutButton {
      -webkit-mask-image: url("../../../assets/icons/logout-svgrepo-com.svg");
    }

    #generateButton {
      -webkit-mask-image: url("../../../assets/icons/add-plus-circle-svgrepo-com.svg");
    }

    #profileButton {
      -webkit-mask-image: url("../../../assets/icons/profile-svgrepo-com.svg");
    }

    #homeButton {
      width: 50px;
      margin-right: 5px;
      -webkit-mask-image: url("../../../assets/icons/home-1393-svgrepo-com.svg");
    }

    #creditsButton {
      -webkit-mask-image: url("../../../assets/icons/copyright-svgrepo-com.svg");
    }
  }
}

@media only screen and (max-width: 600px) {
  #header {
    padding: 10px 15px 10px 20px;
  }

  .button {
    height: 55px !important;
    width: 55px !important;
  }

  #homeButton {
    width: 45px !important;
  }
}
