.generation {
  position: relative;
  margin: 25px 5px 0px 5px;
  background-color: red;
  width: 180px;
  height: 100px;
  padding: 10px 10px 10px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  word-wrap: break-word;
  overflow: hidden;

  border-radius: 10px;

  background-color: #3f4e4f;

  color: white;

  transition: all 0.5s ease;
}

.generation:hover {
  background-color: #2c3639;
  margin-top: 32.5px;
  width: 175px;
  height: 95px;
  cursor: pointer;
}

.username {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 15px;
  transition: all 0.2s ease;
}

.username:hover {
  font-size: 17px;
  cursor: pointer;
}
