router-outlet {
    display: none;
}

#pageContainer {
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    min-height: 600px;
    background-color: #DCD7C9;
}
