router-outlet {
  display: none;
}

#page-center {
  display: flex;
  justify-content: center;
}

#page-container {
  border-radius: 20px;
  margin: 40px;
  padding: 20px;
  min-height: 700px;
  max-width: 800px;
  width: 100%;
  background-color: #dcd7c9;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 600px) {
  #page-container {
    margin: 20px;
  }
}
