# OS Files
Thumbs.db
.DS_Store

# node.js
node_modules
uploads
*.sqlite

# config
server/*.env

server/venv
server/*.pyc
server/__pycache__
server/instance
server/pytest_cache
server/coverage
server/htmlcov

server/dist
server/build
server/*.egg-info