form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  margin-bottom: 20px;
}

.bold {
  margin-bottom: 10px;
}

#pdfTitle {
  border: none;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.2s ease;
  width: 150px;
  background-color: none;
  font-family: "Montserrat";
  font-size: 15px;
}

#pdfTitle:focus {
  outline: none;
  background-color: white;
  width: 200px;
}

#pdfFile::-webkit-file-upload-button {
  display: none;
}

#pdfFile::before {
  content: "Choose a file";
  padding: 8px 10px;
  margin-right: 10px;
  margin-left: 20px;
  display: inline-block;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat";
  font-size: 15px;
  background-color: #3f4e4f;
  color: white;
  transition: all 0.2s ease;
}

#pdfFile:hover::before {
  cursor: pointer;
  background-color: #2c3639;
}

#generateButtons {
  width: 300px;
  display: flex;
  justify-content: space-evenly;

  button {
    height: 65px;
    width: 110px;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 15px;
    background-color: #3f4e4f;
    color: white;
    transition: all 0.2s ease;
  }

  button:hover {
    cursor: pointer;
    background-color: #2c3639;
  }
}
