<div class="page-title">Credits</div>

<div id="credits-content">
  <div id="icons">
    <div class="bold">Icons</div>
    <ul>
      <li>
        <a target="_blank" href="https://www.svgrepo.com/svg/512352/home-1393"
          >Home Button</a
        >
        from
        <a target="_blank" href="https://www.svgrepo.com/">www.svgrepo.com</a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.svgrepo.com/svg/510786/add-plus-circle"
          >Add Button</a
        >
        from
        <a target="_blank" href="https://www.svgrepo.com/">www.svgrepo.com</a>
      </li>
      <li>
        <a target="_blank" href="https://www.svgrepo.com/svg/474079/profile"
          >Profile Button</a
        >
        from
        <a target="_blank" href="https://www.svgrepo.com/">www.svgrepo.com</a>
      </li>
      <li>
        <a target="_blank" href="https://www.svgrepo.com/svg/430881/copyright"
          >Credits Button</a
        >
        from
        <a target="_blank" href="https://www.svgrepo.com/">www.svgrepo.com</a>
      </li>
      <li>
        <a target="_blank" href="https://www.svgrepo.com/svg/499618/logout"
          >Logout Button</a
        >
        from
        <a target="_blank" href="https://www.svgrepo.com/">www.svgrepo.com</a>
      </li>
      <li>
        <a target="_blank" href="https://www.svgrepo.com/svg/509394/search"
          >Search Button</a
        >
        from
        <a target="_blank" href="https://www.svgrepo.com/">www.svgrepo.com</a>
      </li>
    </ul>
  </div>

  <div id="sd">
    <div class="bold">Stable Diffusion</div>
    <ul>
      <li>
        <a target="_blank" href="https://github.com/Stability-AI/stability-sdk"
          >Stable Diffusion SDK</a
        >
      </li>
    </ul>
  </div>

  <div id="sd">
    <div class="bold">p5.js</div>
    <ul>
      <li>
        <a target="_blank" href="https://p5js.org/examples/"
          >Learning Examples</a
        >
      </li>
    </ul>
  </div>
</div>
