/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Montserrat";
  font-size: 20px;
  background-color: #2c3639;
  margin: 0px;

  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .page-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    border-bottom: black solid 3px;
    display: inline-block;
  }

  .bold {
    font-weight: bold;
  }
}
